<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/login.css">
        

        <title>Pizza Paradise</title>
    </head>
    <body>.
        <h2>My name is <%= name %></h2>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">Pizza Paradise</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                        <li class="nav__item"><a href="#contact-section" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="login.html" class="nav__link">Login</a></li>
                        

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">Pizza Paradise</h1>
                        <h2 class="home__subtitle">With us you can eat  order our superb pizzas <br> 
                            </h2>
                    </div>
    
                    <img src="img/pngwing.com (1).png" alt="" class="home__img">
                </div>
                
            </section>
            
            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">About us</span>
                        <h2 class="section-title about__initial"> About Paradise Pizza</h2>
                        <p class="about__description"> Paradise pizza Restaurant serves the West Coast's tastiest pizza.<br> 
                            We love working with good food such as pizza, burgers and kebabs.<br>
                             You will find our pizzeria everywhere in the world.<br> 
                             We serve pizza, burgers, kebabs and salads. We also serve LCHF pizza and gluten-free pizza.<br>
                              There is so much more!</p>
                    </div>

                    <img src="img/pngwing.com (14).png" alt="" class="about__img">
                </div>
                
            </section>

            <!--========== SERVICES ==========-->
            <section class="services section bd-container" id="services">
                <span class="section-subtitle">We provide the following</span>
                <h2 class="section-title"> Our Specialities</h2>

                <div class="services__container  bd-grid">
                    <div class="services__content">
                        <div class="icon">
                            <i class="icon-hat"></i>
                        </div>
                        <h3 class="services__title">Clean Environment</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious coffee in the city.</p>
                    </div>

                    <div class="services__content">
                      
                        <h3 class="services__title">expert chefs</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious coffee in the city.</p>
                    </div>

                    <div class="services__content">
                       
                        <h3 class="services__title">Fresh and tasty food</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious coffee in the city.</p>
                    </div>
                </div>
            </section>

            <!--========== MENU ==========-->
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">Special</span>
                <h2 class="section-title">Menu</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img src="img/pngwing.com (20).png" alt="" class="menu__img">
                        <h3 class="menu__name">Kyckling Pizza</h3>
                        <span class="menu__detail">Delicious </span>
                        <span class="menu__preci">$13</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>

                    <div class="menu__content">
                        <img src="img/pngwing.com (15).png" alt="" class="menu__img">
                        <h3 class="menu__name">Sallad tallrik</h3>
                        <span class="menu__detail">Delicious </span>
                        <span class="menu__preci">$9</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                    
                    <div class="menu__content">
                        <img src="img/pngwing.com (4).png" alt="" class="menu__img">
                        <h3 class="menu__name">Hamburgare meny </h3>
                        <span class="menu__detail">Delicious </span>
                        <span class="menu__preci">$15</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                </div>
            </section>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img src="img/pngwing.com (18).png" alt="" class="menu__img">
                        <h3 class="menu__name">Chocklad shake</h3>
                        <span class="menu__detail">Delicious dish</span>
                        <span class="menu__preci">$22.00</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>

                    <div class="menu__content">
                        <img src="img/pngwing.com (8).png" alt="" class="menu__img">
                        <h3 class="menu__name">Cola 3 types</h3>
                        <span class="menu__detail">Delicious dish</span>
                        <span class="menu__preci">$5</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                    
                    <div class="menu__content">
                        <img src="img/pngwing.com (7).png" alt="" class="menu__img">
                        <h3 class="menu__name">Strawebery Juice</h3>
                        <span class="menu__detail">Delicious dish</span>
                        <span class="menu__preci">$9.50</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                </div>
            </section>


              <!--==========  Survey form  ==========-->
              <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">we want your feedback</span>
                        <h2 class="section-title about__initial"></h2>
                        <p class="about__description">  “We all need people who will give us feedback. That’s how we improve.” Bill Gates<br> Your feedback is really important so that <br>
                            We can improve our services and the way we communicate. <span> We really appreciate in advance for your collaboration and your time!</span></p>
                    </div>

                    <img src="img/pngwing.com (10).png" alt="" class="about__img">

                    </div>
                </div>
            </section>

            <br>
            <br>

            
             <!--==========  CONTACT US  ==========-->
             <section class="contact-section" id="contact-section"> 
                 <div class="contact">
                  <h1>Contact Us</h1>
                  {{samiira}}
    <div class="border"></div>
    <form class="contact-form" action="send " method="post">
      <input type="text" name="name" class="contact-form-text" placeholder="Your name">
      <input type="email" name="email" class="contact-form-text" placeholder="Your email">
      <input type="text" name="phone" class="contact-form-text" placeholder="Your phone">
      <textarea name="message" class="contact-form-text" placeholder="Your message"></textarea>
      <input type="submit" class="contact-form-btn" value="Send">
    </form>
</div>

  </div>

</div>
</section>

</main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">Pizza Paradise</a>
                    <span class="footer__description">Social Media</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Delivery</a></li>
                        <li><a href="#" class="footer__link">Pricing</a></li>
                        <li><a href="#" class="footer__link">Our Restaurant</a></li>
                        <li><a href="#" class="footer__link">About Us</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

            
            </div>

            <p class="footer__copy">&#169; 2020 Pizza Paradise. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="js/main.js"></script>
    </body>
</html>